Реализация шифра Цезаря:
        Создание и использование алфавита.
        Алгоритм сдвига символов в соответствии с заданным ключом.
        Функция шифрования, принимающая файл, ключ и записывающая зашифрованный текст в новый файл.
        Функция расшифровки с использованием известного ключа.
        Реализация метода brute force для перебора всех ключей до успешного расшифрования. (опционально)
        Разработка алгоритма статистического анализа для автоматической расшифровки без ключа, используя особенности языка.

Обработка файлов:
        Функциональность для работы с файлами (чтение, запись).
        Обработка больших текстовых файлов.

Валидация входных данных:
        Проверка существования файлов.
        Допустимость ключей.

Разработка интерфейса пользователя:
        Текстовое меню или (опционально) графический интерфейс
